extends layout 
 
block content 
  h1= title 
 
  - let restaurantid = toShow._id 
  - let restaurant_type = toShow.restaurant_type 
  - let duration  = toShow.duration  
  - let cost  = toShow.cost
  div 
    div.row 
      div(class='costumeAttr mr-3') Restaurant ID is:  #{restaurantid} 
      div(class='costumeAttr mr-3') Restaurant Type is:   #{restaurant_type} 
      div(class='costumeAttr mr-3') Duration is:   #{duration} 
      div(class='costumeAttr mr-3') Cost is:   #{cost}

      button(class="btn btn-secondary m-2" onclick="window.location.href='/restaurant'") Cancel 

    
    